.contact-me{
    width: 100%;
    background: #130f2a;
}

.about{
    padding: 10px 20px;
    border: 1.5px solid #6852ba;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}

.lable {
    font-size: 14px;
    padding-bottom: 6px;
}

.input {
    padding: 8px 8px;
    border: 1.5px solid #6852ba;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    outline: none;
    color: #fff;
    background-color: transparent;
    transition: border-color 0.3s ease;
}

.text-area {
    height: 78px;
    overflow: hidden;
    padding: 8px 8px;
    border: 1.5px solid #6852ba;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    outline: none;
    color: #fff;
    background-color: transparent;
    transition: border-color 0.3s ease;
}

.button {
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(90deg, #b9aaf8, #7e61e7 100%);
    padding: 0.6rem 2rem;
    border: none;
    outline: 1.5px soli transparent;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.3 ease;
}

.button:active{
    color: #a993fe;
    background: black;
    outline: 1.5px solid #a993fe;
    box-shadow: 0 0 10px #a993fe88;
}

.custom-toast {
    background-color: black !important;
    color: white !important;
    border-radius: 6px;
    font-size: 14px;
}

@media (max-width: 450px){
    .contact-me{
        font-size: 0.8rem;
    }

    .about{
        line-height: 30px;
    }
}

@media (max-width:768px){
    .contact-me{
        font-size: 0.8rem;
    }
}

@media (max-width: 768px){
    .contact-me{
        font-size: 0.6rem;
    }
}