.experience-container{
    margin-bottom: 1rem;
    position: relative;
    padding-top: 95px;
    margin-bottom: 2rem;
}

.experience-container h5{
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 3rem;
}

.left-arrow,
.right-arrow{
    height: 2.2rem;
    width: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--BorderColor);
    border: 1.5px solid var(--BorderColor);
    border-radius: 0.65rem;
    background: var(--FormBg);
    position: absolute;
    top: 62%;
    z-index: 2;
    cursor: pointer;
}

.right-arrow {
  right: 0rem;
}

@media (max-width: 1025px){
    .left-arrow{
        left: -1rem;
    }

    .right-arrow{
        right: -1rem;
    }

}

@media (max-width: 768px){

    .experience-container{
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .left-arrow{
        left: -1rem;
    }

    .right-arrow{
        right: -1rem;
    }
}

@media (max-width: 375px){
    .experience-container h5{
        font-size: 1.2rem;
    }

    .experience-content{
        align-items: center;
    }
}

@media (max-width: 310px){
    .right-arrow{
        right: -5.5rem;
    }
}

@media (max-width: 360px){
    .right-arrow{
        right: -1.1rem;
    }
}